  body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;

        }
.container {
            max-width: 800px;

        }
        .search-bar {
            margin-bottom: 20px;
        }
         .list-group {
            max-height: 400px;
            overflow-y: auto;
            margin-bottom: 20px;
            font-weight: bold;
        }
        .list-group-item {

            cursor: pointer;
            transition: background-color 0.3s ease;
        }
         .list-group-item:hover {
             background-color: #000000;
        }
       a {
            color: #565252;
            text-decoration: none; /* Remove underline */
        }
         a:hover {
            color: #ffffff; /* Change color on hover */
            text-decoration: underline; /* Add underline on hover */
        }